{% extends "index.html" %}
{% block name %}
<div class="container mt-5">
     <div class="row align-items-center bg-body-secondary p-4 p-md-5 mb-4 rounded text-body-emphasis" style="border-radius: 20px" >
       <div class="col-md-12 px-0"  >
         <h1 class="display-4 fst-italic">Movie Recommendation System  </h1>
         <p class="lead my-3">A <b>content-based</b> movie recommendation system suggests movies to users by analyzing the features of the movies themselves, such as genre, cast, director, and plot.The system evaluates the attributes of movies that the user has watched or rated highly and finds other movies with similar characteristics. This approach helps users discover movies they may not have come across otherwise but are likely to enjoy based on their preferences. Platforms like <b>Netflix </b>use a blend of content-based and collaborative filtering methods to enhance their recommendations by considering both the content and behavior of users.<b></p>
       </div>
     </div>
     <div class="container mt-5">
          <div class="row align-items-center bg-body-secondary p-4 p-md-5 mb-4 rounded text-body-emphasis" style="border-radius: 20px" >
            <div class="col-md-12 px-0"  >
              <h1 class="display-4 fst-italic">Book Recommendation System </h1>
              <p class="lead my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem libero tenetur officiis ipsum? Soluta reiciendis ipsam nisi laudantium, eaque, labore vitae asperiores dignissimos ipsum tenetur iure sunt quidem hic error.<b></p>
            </div>
          </div>
          <div class="container mt-5">
               <div class="row align-items-center bg-body-secondary p-4 p-md-5 mb-4 rounded text-body-emphasis" style="border-radius: 20px" >
                 <div class="col-md-12 px-0"  >
                   <h1 class="display-4 fst-italic">Song Recommendation System </h1>
                   <p class="lead my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem libero tenetur officiis ipsum? Soluta reiciendis ipsam nisi laudantium, eaque, labore vitae asperiores dignissimos ipsum tenetur iure sunt quidem hic error.<b></p>
                 </div>
               </div>

{% endblock name %}
