{% extends "index.html" %}
{% block name %}

<div class="position-relative my-4">
    <h2 class="text-center">TOP 50 BOOKS</h2>
    <button type="button" class="btn position-absolute" style="top: 0; right: 5rem; background-color: #15e8c1; border-color: #15e8c1; color: black;" onclick="window.location.href='/recommend'">Get Recommendation</button>
</div>
<h2 class="text-center my-4">(Popularity Based)</h2>



       
        <div class="container">
            <div class="row">
                {% for book in books %}
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="{{ book.image }}" alt="Unable to Load">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ book.name }}</h5>
                                <h5 class="card-subtitle mb-2 text-muted">By: {{ book.author }}</h5>
                                <h6 class="card-text">Votes: {{ book.votes }}</h6>
                                <h6 class="card-text">Rating: {{ book.rating |floatformat:2}}</h6 >
                                 
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
        {% endblock name %}